@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

*,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
}
.wrapContainer {
  // background: linear-gradient(45deg, #1a191b, #c6948c);
  background: linear-gradient(338deg, rgba(72, 80, 93, 1) 12%, rgba(23, 89, 184, 1) 39%, rgb(72, 87, 87) 81%);

  height: 100dvh;
}
.overlayContainer {
  display: flex;
  // flex-direction: column;
  // align-items: center;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

.habitsWrap {
  max-width: 800px;
  width: 45%;
  height: 100%;
  padding: 4% 0;
  padding-left: 5%;
  // border: 2px solid white;
}
.habitsContainer {
  background-color: #c7c5c5;
  border-radius: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.noHabitsUI {
  .addFirstHabitBtn {
    opacity: 0.3;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    svg {
      transition: transform 0.2s ease;
      margin-left: 10px;
    }
    transition: opacity 0.1s ease;
    &:hover {
      opacity: 0.6;
      svg {
        transform: scale(1.2);
      }
    }
  }
}
.calendarWrap {
  height: 80%;
  padding: 4% 0;
  padding-right: 5%;
  padding-left: 2%;
  width: 55%;
}
//    background: linear-gradient(45deg, #1f6feb, #031d27);

.addNewHabitPanel {
  font-size: 1.3rem;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  padding: 10px;
  width: 60%;
  height: 70%;
  background-color: #5d79bc;

  .title {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    svg {
      margin-right: 15px;
    }
  }
  .daysOfWeek {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    label {
      padding: 2px 0;
      &:first-child {
        // padding: 0;
      }
    }

    // background-color: red;
  }
}
.habitsContainer + .AddNewHabitPanel {
  background-color: red;
}
