@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

*,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
}
.wrapContainer {
  // background: linear-gradient(45deg, #1a191b, #c6948c);
  background: linear-gradient(338deg, rgba(72, 80, 93, 1) 12%, rgba(23, 89, 184, 1) 39%, rgb(72, 87, 87) 81%);

  height: 100dvh;
}
.overlayContainer {
  display: flex;
  // flex-direction: column;
  // align-items: center;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

.habitsWrap {
  max-width: 800px;
  width: 45%;
  height: 100%;
  padding: 4% 0;
  padding-left: 5%;
  // border: 2px solid white;
}
.habitsContainer {
  background-color: #c7c5c5;
  border-radius: 15px;
  height: 100%;
  display: flex;
  // align-items: center;
  // justify-content: center;
}
.noHabitsUI {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .addFirstHabitBtn {
    opacity: 0.3;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    svg {
      transition: transform 0.2s ease;
      margin-left: 10px;
    }
    transition: opacity 0.1s ease;
    &:hover {
      opacity: 0.6;
      svg {
        transform: scale(1.2);
      }
    }
  }
}
.calendarWrap {
  height: 80%;
  padding: 4% 0;
  padding-right: 5%;
  padding-left: 2%;
  width: 55%;
}
//    background: linear-gradient(45deg, #1f6feb, #031d27);

.addNewHabitPanel {
  font-size: 1.7rem;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  // padding: 10px;
  padding: 10%;
  width: 100%;
  height: 100%;
  background-color: #5d79bc;
  // background: linear-gradient(45deg, #020202, #5d79bc);
  background: linear-gradient(102deg, #242527, #1a55e2);
  form {
    height: 100%;
  }
  .title {
    font-size: 2.7rem;

    display: flex;
    align-items: center;
    padding-bottom: 25px;
    svg {
      margin-right: 15px;
    }
  }
  .habitName {
    padding-bottom: 10px;
    input {
      font-size: 1.5rem;
      padding-left: 3px;
    }
  }
  .categoryName {
    padding-bottom: 10px;
    select {
      cursor: pointer;
      font-size: 1.5rem;
    }
  }
  .daysOfWeek {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    .calendarIcon {
      margin-right: 14px;
    }
    .everydayBtn {
      display: flex;
      align-items: center;
      .arrowIcon {
        margin-right: 7px;
      }

      cursor: pointer;
      margin-bottom: 13px;
      font-size: 1.3rem;
      padding: 3px 10px;
      border: none;
      background-color: #4c65ab;
      border-radius: 10px;
      transition: all 0.2s ease;
      border: 2px solid #abb7ff40;
      color: white;

      &:hover {
        transition: all 0.15s ease;
        transform: translateX(5px);

        background-color: #061133;
        color: white;
        border: 2px solid white;
      }
      &:active {
        transform: scale(0.95);
      }
    }
    label {
      display: flex;
      align-items: center;
      padding: 2px 0;
      cursor: pointer;

      &:first-child {
        padding: 0;
        padding-bottom: 15px;
      }
      input[type='checkbox'] {
        margin-right: 10px;
        width: 25px;
        height: 25px;
        cursor: pointer;
        accent-color: #e4e9ed;
      }
    }
  }
  .addHabitBtn,
  .cancelBtn {
    cursor: pointer;
    margin-top: 20px;
    font-size: 1.7rem;
    padding: 10px;
    border: none;
    background-color: white;
    border-radius: 10px;
    transition: all 0.2s ease;
    border: 2px solid transparent;
    &:hover {
      transition: all 0.15s ease;
      transform: translateX(5px);

      background-color: #061133;
      color: white;
      border: 2px solid white;
    }
    &:active {
      transform: scale(0.95);
    }
  }
  .addHabitBtn {
    margin-right: 20px;
  }
}

.displayHabits {
  width: 100%;
  padding: 4%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .currentDate {
    font-size: 1.4rem;
    background-color: lightblue;
    padding: 10px 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    border: 2px solid rgba(133, 194, 184, 0.89);
    margin-bottom: 30px;
  }
  .buttonsContainer {
    display: flex;
    margin-top: auto;
    width: 100%;
    justify-content: space-around;
    .newHabitBtn {
      margin-right: 7px;
    }
    .newHabitBtn,
    .editHabitBtn {
      white-space: nowrap;
      cursor: pointer;
      margin-top: 20px;
      font-size: 1.7rem;
      padding: 10px;
      border: none;
      background-color: white;
      border-radius: 10px;
      transition: all 0.2s ease;
      border: 2px solid gray;
      &:hover {
        transition: all 0.15s ease;
        transform: translateX(5px);
        background-color: #061133;
        color: white;
        border: 2px solid white;
      }
      &:active {
        transform: scale(0.95);
      }
    }
  }
  .habit {
    margin-bottom: 30px;
    h3,
    p {
      margin-bottom: 3px;
    }
    .daysLabel {
      margin-bottom: 3px;
    }
    .daysTiles {
      display: flex;
      width: 50%;
    }

    .habitDays {
      border-radius: 10px;
      padding: 3px 10px;
      margin: 0 2px;
    }
    .Monday {
      background-color: #87ceeb;
    }
    .Tuesday {
      background-color: #98fb98;
    }
    .Wednesday {
      background-color: #e6e6fa;
    }
    .Thursday {
      background-color: #ff6b6b;
    }
    .Friday {
      background-color: #708090;
    }
    .Saturday {
      background-color: #daa520;
    }
    .Sunday {
      background-color: #da70d6;
    }
  }
}
