@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

*,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
}
.wrapContainer {
  background: linear-gradient(45deg, #4e8df1, #317946);
  height: 100dvh;
}
.overlayContainer {
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.habitDisplay {
  color: black;
  width: 100%;
  margin-top: 20px;
  height: 415px;
  max-width: 700px;
  border-radius: 15px;
  // background-color: #c7c5c5;
}
.noHabitsUI {
  background-color: #c7c5c5;
  border-radius: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .addFirstHabitBtn {
    opacity: 0.3;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    svg {
      margin-left: 5px;
    }
    transition: opacity 0.1s ease;
    &:hover {
      opacity: 0.5;
    }
  }
}
