.container {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  // background-color: rgb(32 63 64);
  background: linear-gradient(
    18deg,
    rgba(23, 37, 37, 1) 6%,
    rgba(32, 63, 64, 1) 68%,
    rgba(209, 4, 72, 1) 100%,
    rgba(221, 0, 73, 1) 100%
  );

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app {
  width: 300px; /* Adjust the width as needed */
  height: 300px; /* Adjust the height as needed */

  width: 80%; /* Adjust the width as needed */
  max-width: 400px; /* Set a maximum width if desired */

  background-color: white;
  border-radius: 8px;
}
