@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

.container {
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    18deg,
    rgba(23, 37, 37, 1) 6%,
    rgba(32, 63, 64, 1) 68%,
    rgba(209, 4, 72, 1) 100%,
    rgba(221, 0, 73, 1) 100%
  );
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app {
  position: relative;
  min-height: 350px;
  max-height: 90vh;
  height: 450px;
  width: 80%;
  max-width: 900px;
  background-color: white;
  border-radius: 8px;
}
.pomodoroImg {
  position: absolute;
  top: -30px;
  right: -25px;
  height: 100px;
}
.timer {
  color: black;
  // font-weight: bold;
  display: flex;
  flex-direction: column;
  font-size: 4em;
  padding-left: 6%;
  padding-top: 3%;
}
// .breakTimer {
  
// }