:root {
  //   background: #fff;
}

span.percent {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 50px;
  transform: translate(-50%, -50%);
  color: #404ada;

  &::after {
    content: "%";
  }
}

.canvasWrap {
  position: relative;
  width: 300px;
  height: 300px;
}
.progress {
  z-index: 2;
  background-color: red;
}
