@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

$primary-color: rgb(137, 195, 230);
$secondary-color: rgb(62 90 202);
$animation-color: rgb(113, 219, 205, 0.6);
$accent-color: white;
$nunito: "Nunito Sans", sans-serif;
$poppins: "Poppins", sans-serif;
$DM: "DM Sans", sans-serif;

.container {
	background-color: black;
	// background-color: rgb(8, 8, 8);
	color: white;
	// height: 100vh;
	// width: 100vw;
}
.mainContent {
	position: relative;
	background: black;
	display: flex;
	flex-direction: column;
	padding: 30px 14% 0 14%;
	height: calc(100vh - 100px);
	width: 100%;
}
.mainHeading {
	font-family: $nunito;
	text-transform: uppercase;
	font-size: 4em;
	// text-align: right;
	z-index: 2;

	color: white;
	-webkit-text-stroke: 1px black;
	-moz-text-stroke: 1px black;
}
.mainDescription {
	font-family: $nunito;
	font-weight: 400;
	font-size: 2em;
	text-align: left;
	padding-top: 45px;
	margin-bottom: 50px;
	z-index: 2;
}
.womanImg {
	position: absolute;
	top: 0;
	right: 14%;
	z-index: 1;
	width: 550px;
}
.btnContainer {
	display: flex;
}
.btnGetStarted {
	font-family: $DM;
	font-size: 2em;
	text-transform: uppercase;
	background-color: $secondary-color;
	border-radius: 30px;
	padding: 5px 30px;

	text-decoration: none;
	color: white;
	border: 2px solid transparent;
	opacity: 1;
	animation: fade 3.2s infinite ease-in-out;
	transition: margin-left 0.4s ease;

	&:hover {
		border: 2px solid white;
		margin-left: 30px;
		transition: margin-left 0.4s ease;
	}
}
@keyframes fade {
	0% {
		// opacity: 1;
		background-color: $secondary-color;
	}
	10% {
		// opacity: 1;
		background-color: $secondary-color;
	}
	30% {
		// opacity: 0.8;
		background-color: $animation-color;
	}
	50% {
		background-color: $secondary-color;
	}
	100% {
		// opacity: 1;
		background-color: $secondary-color;
	}
}
@media (max-width: 1294px) {
	.mainContent {
		padding: 30px 5% 0 5%;
	}
}
@media (max-width: 1093px) {
	.mainContent {
		height: calc(100vh + 100px);
	}
}
@media (max-width: 822px) {
	.mainHeading {
		font-size: 4em;
	}
	.mainDescription {
		font-size: 2em;
	}
	.btnContainer {
		justify-content: flex-end;
	}

	.btnGetStarted {
		font-size: 1.5em;
	}
}
