@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

.container {
  height: 20vh;
  // background-color: #d9d9d9;
  background-color: #182c36;
  color: white;
  font-family: "DM Sans", sans-serif;
  padding: 40px;
}
