@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

.container {
  min-height: 20vh;
  // background-color: #d9d9d9;
  background-color: #182c36;
  color: white;
  font-family: "DM Sans", sans-serif;
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  // gap: 50px;
}
.form {
  display: flex;
  margin-top: 3px;
  margin-left: -2px;
  // margin-left: 10px;
}
.formInput {
  resize: none;
  border-radius: 8px;
  padding-left: 3px;
  font-size: 0.8em;
}
.submitInput {
  background-color: white;
  border-radius: 8px;
  width: 25px;
  height: 20px;
  text-align: center;
  margin-left: 3px;
}

.sectionOne {
  h3 {
    font-weight: normal;
    opacity: 0.9;
  }
}
.sectionTwo {
  h3 {
    display: inline-block;
    font-weight: normal;
    opacity: 0.7;
    color: white;
    transition: opacity 0.2s ease;
    cursor: pointer;

    &:hover {
      opacity: 1;
      transition: opacity 0.5s ease;
    }
  }
}
.sectionThree {
  h3 {
    display: inline-block;
    font-weight: normal;
    opacity: 0.7;
    color: white;
    transition: opacity 0.2s ease;
    cursor: pointer;

    &:hover {
      opacity: 1;
      transition: opacity 0.5s ease;
    }
  }
}
.container {
  flex-wrap: wrap;
}

// .sectionOne,
// .sectionTwo {
//   // align-self: center;

//   flex-basis: 50%;
// }
// .sectionThree,
// .sectionFour {
//   // align-self: center;

//   flex-basis: 50%;
// }
// .sectionOne {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .sectionTwo {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }
