@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

$primary-color: rgb(137, 195, 230);
$secondary-color: rgb(62 90 202);
$animation-color: rgb(113, 219, 205, 0.6);
$accent-color: white;
$nunito: "Nunito Sans", sans-serif;
$poppins: "Poppins", sans-serif;
$DM: "DM Sans", sans-serif;

.mainContent {
	overflow-x: hidden;
	flex-wrap: wrap;
	position: relative;
	background: linear-gradient(
		47deg,
		rgba(83, 109, 121, 1) 54%,
		rgba(46, 164, 180, 1) 100%
	);
	display: flex;
	padding: 22vh 10% 22vh 10%;
	min-height: 700px;
	// height: 95vh;
	width: 100%;
}
.mainHeading {
	position: relative;
	font-family: $nunito;
	text-transform: uppercase;
	font-size: 4em;
	// text-align: right;
	z-index: 2;

	color: white;
	// -webkit-text-stroke: 1px black;
	// -moz-text-stroke: 1px black;
}
.mainDescription {
	position: relative;
	// font-family: $nunito;
	font-family: "Poppins", sans-serif;

	font-weight: 400;
	font-size: 2em;
	text-align: left;
	padding-top: 45px;
	margin-bottom: 50px;
	z-index: 2;
	color: white;
}
.leftContent {
	flex: 1 0 50%;

	// flex: 1;
	//   margin-right: 20px;
}
.rightContent {
	flex: 1 0 50%;
	// display: flex;
	// justify-content: flex-end;
	z-index: 1;
	max-width: 500px;
	height: 360px;
}
.womanImg {
	// position: absolute;
	// top: 30px;
	transform: translateY(-25px);
	z-index: 1;
	max-width: 500px;
	object-fit: contain;
}
.btnContainer {
	display: flex;
	align-items: center;
	cursor: pointer;
	//   height: 30%;
}
.btnGetStarted {
	// font-family: $DM;
	// font-family: "Poppins", sans-serif;
	font-family: $nunito;
	font-size: 2em;
	text-transform: uppercase;
	background-color: rgb(24 32 36);
	border-radius: 30px;
	padding: 5px 30px;

	text-decoration: none;
	color: white;
	border: 2px solid transparent;
	opacity: 1;
	animation: fade 3.2s infinite ease-in-out;
	transition: margin-left 0.4s ease;

	&:hover {
		border: 2px solid white;
		margin-left: 30px;
		transition: margin-left 0.4s ease;
	}
}
.scrollIcon {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%, -3vh);
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	animation: flow 3s ease-in-out infinite;
}

@keyframes flow {
	0% {
		transform: translateY(-2vh);
	}
	50% {
		transform: translateY(-3vh);
	}
	100% {
		transform: translateY(-2vh);
	}
}

@keyframes fade {
	0% {
		// opacity: 1;
		background-color: rgb(24 44 54);
	}
	10% {
		// opacity: 1;
		background-color: rgb(24 44 54);
	}
	30% {
		// opacity: 0.8;
		background-color: $animation-color;
	}
	50% {
		background-color: rgb(24 44 54);
	}
	100% {
		// opacity: 1;
		background-color: rgb(24 44 54);
	}
}
@media (max-width: 1280px) {
	.mainContent {
		padding: 22vh 5% 22vh 5%;
	}
	.rightContent {
		justify-content: flex-end;
	}
}

@media (max-width: 1095px) {
	.rightContent {
		display: none;
	}
	.mainHeading {
		text-align: center;
	}
	.mainDescription {
		text-align: center;
	}
	.btnContainer {
		justify-content: center;
	}

	.btnGetStarted {
		transition: transform 0.4s ease;

		&:hover {
			border: 2px solid white;
			margin-left: 0px;
			transform: translate(0px, -7px);
			transition: transform 0.4s ease;
		}
	}
}
@media (max-width: 1382px) {
	.leftContent {
		flex: 1 0 70%;
	}
	.rightContent {
		flex: 1 0 30%;
		flex-shrink: 1;
		min-width: 0;
	}
	.womanImg {
		max-width: 300px;
		// transform: translateY(20px);
	}
}
@media (max-width: 1471px) {
	.leftContent {
		flex: 1 0 70%;
	}
	.rightContent {
		flex: 1 0 30%;
		flex-shrink: 1;
		min-width: 0;
	}
	.womanImg {
		max-width: 400px;
		transform: translateY(10px);
	}
}

@media (max-width: 746px) {
	.scrollIcon {
		display: none;
	}
	.mainContent {
		padding-top: 22vh;
	}
}
@media (max-width: 538px) {
	.mainHeading {
		font-size: 3em;
	}
	.mainDescription {
		font-size: 1.5em;
	}
	.btnGetStarted {
		font-size: 1.5em;
	}
}
@media (max-width: 419px) {
	.mainHeading {
		font-size: 2em;
	}
	.mainDescription {
		font-size: 1em;
	}
	.btnGetStarted {
		font-size: 1em;
	}
}
